.mobile-container {
  max-width: 100%;
  margin: auto;
  color: rgb(26, 24, 24);
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  float: left;
  color: rgb(16, 15, 15);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.icon {
  float: right;
}

.topnav a:hover {

  color: black;
}

.active {

  color: white;
}

.general {
  text-align: center;
  padding: 0;
  margin: 0;

}

.general h1 {
  font-family: 'Annie Use Your Telescop';
  font-size: 50px;
  letter-spacing: 3px;
  font-weight: 10px;
}

.gen {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  height: 100vh;

}

.gen img {

  animation-name: img;
  animation-duration: 10s;
  animation-direction: alternate;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 1000;


}

@keyframes img {
  100% {
    rotate: 360deg;
  }
}

.block {
  margin-left: 5%;
}

.genera {
  display: flex;
  justify-content: center;
}

.link p a {
  color: rgb(241, 9, 9);
  border: 2px solid red;
  font-size: 40px;
  text-decoration: none;
  padding-inline: 30px;
  border-radius: 30px;
  margin-right: 20px;

}

.link_active p a {
  color: rgb(252, 9, 9);

  text-decoration: none;
  font-size: 40px;
  padding-inline: 20px;
}

.link p a:hover {
  color: rgb(243, 236, 236);
  background-color: red;
  font-size: 40px;
  text-decoration: none;
  padding-inline: 20px;
  border-radius: 30px;
  margin-right: 20px;
}

.link_active p a:hover {
  color: rgb(246, 240, 240);
  background-color: red;
  text-decoration: none;
  font-size: 40px;
  padding-inline: 20px;
  border-radius: 30px;
}

.link_active p a i:hover {
  color: #f6f1f1
}

.gen h1 {
  font-size: 70px;
  font-family: 'Caveat', cursive;
}

.gen h5 {
  font-size: 25px;
  color: rgb(80, 69, 69);
}

.gen_block1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}

.img_block2 ul li {
  list-style-type: none;
}

#text {

  font-style: italic;
}

span {
  color: red;
}

.img_right_sidebar {
  width: 90%;
  height: auto;
}

.gen_block2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 10%;
}

.gen_block2 h2 {
  margin-left: 10%;
}

.gen_block2 h4 a {
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  border: 2px solid red;
  padding-inline: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 50px;
  margin-left: 25vh;
  color: rgb(241, 9, 9);
}

.gen_block2 h4 a:hover {
  background-color: red;
  color: aliceblue;
}

.gen_block3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
}

.block1 {
  display: flex;


}

.food_prise {
  padding-right: 10%;

}

.food_prise p {
  font-size: 30px;
  color: red;

}

.food_prise img:hover {
  width: 320px;
  transition: 1s;
}



#chefs .section-heading {
  margin-bottom: 70px;
}

#chefs .section-heading h6 {
  padding-left: 0px;
}

#chefs .section-heading h6:before {
  display: none;
}

#chefs .chef-item {
  text-align: center;
  padding: 5px;
  transition: all .5s;
  border-radius: 3px;
}

#chefs .chef-item:hover {
  border-color: #fb5849;
}

#chefs .chef-item:hover .down-content h4 {
  color: #fb5849;
}

#chefs .chef-item .thumb {
  position: relative;
}

#chefs .chef-item .thumb img {
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
}

#chefs .chef-item .thumb .overlay {
  position: absolute;
  background-color: #ea373790;
  border-radius: 10px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}

#chefs .chef-item .thumb ul.social-icons {
  position: absolute;
  z-index: 11;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  transition: all .5s;
  opacity: 0;
  visibility: hidden;
}

#chefs .chef-item .thumb ul.social-icons li {
  display: inline-block;
  margin: 0px 5px;
}

#chefs .chef-item .thumb ul.social-icons li a {
  width: 40px;
  height: 40px;
  background-color: #fff;
  color: #2a2a2a;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  display: inline-block;
  transition: all .5s;
}

#chefs .chef-item .thumb ul.social-icons li a:hover {
  background-color: #fb5849;
  border-radius: 50%;
}

#chefs .chef-item:hover .overlay {
  opacity: .5;
  visibility: visible;
   border-radius: 50%;
}

#chefs .chef-item:hover ul.social-icons {
  opacity: 1;
  visibility: visible;
}

#chefs .chef-item .down-content {
  padding: 20px 0px;
}

#chefs .chef-item .down-content h4 {
  transition: all .2s;
  font-size: 20px;
  font-weight: 700;
  color: #2a2a2a;
}

#chefs .chef-item .down-content span {
  font-size: 14px;
  color: #2a2a2a;
}

.sale {
  background-image: url(./img/bg-4.jpg);
  background-repeat: no-repeat;
  height: 68vh;
  color: #f6f1f1;
  width: 100%;
}

.sale h1 {
  padding-top: 100px;
}

.footer {
  display: flex;

  color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  background-image: url(./img/slide-01.png);
  width: 100%;
  height: 100%;
  padding: 5%;
}

.opening-time h1 {
  color: #3e3434;
  font-size: 35px;
}

.forms h1 {
  font-size: 35px;
  color: #fff;
}

.opening-time {
  display: block;
  font-size: 22px;
  line-height: 22px;
  color: #f0e8e8;
  font-family: "Oswald";
  position: relative;
}

.foot-title h1 {
  font-style: 10px;
  color: #f6f1f1;
}

.sub button {
  border: 2px solid rgb(244, 230, 230);
  border-radius: 20px;
}

.sub button:hover {
  background-color: #afaeae66;
  color: #fff;
}

form:hover {
  background-color: rgba(188, 185, 179, 0.177);
}

.opening-time h1 {
  color: #ffffff;
  margin-bottom: 17px;
}

.opening-time p span {
  color: #cf9b67;
  text-transform: uppercase;
}

form {
  border: 2px solid rgb(244, 230, 230);
  padding: 1%;
  color: #f6f1f1;
  border-radius: 20px;
}

.social:hover {
  background-color: #01010081;
  border-radius: 20px;
  color: #fefdfd;
}

.social p {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  display: flex;

  justify-content: flex-start;
}

.social {
  width: 300px;
}

.social i {
  color: red;
  font-size: 30px;
  padding-right: 5px;
}

.opening-time:hover {
  background-color: #01010081;
  border-radius: 20px;
  color: #fefdfd;
}

form input {
  border: 2px solid rgb(244, 230, 230);
  padding: 1%;
  border-radius: 20px;
}

.brackfast {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.about_brackfast {
  margin-left: 5%;

}

.chef img {
  border: 5px solid rgb(240, 98, 98);

}

@media (max-width:1024px) {
  .gen img {
    animation: none;
    width: 100%;
    margin-top: 25%;
  }

  .block h1 span {
    font-family: 15px;
  }

  .gen {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
  }


  .genera p a {
    font-size: 15px;
    display: flex;
    padding-inline: 10px;
  }

  .block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 90%;

  }

  .block h1 {
    display: flex;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .block h5 {
    width: 100%;
    font-size: 20px;
  }

  .gen_block1 {
    display: flex;
    flex-direction: column;
  }

  .gen_block1 img {
    width: 100%;
    height: 100%;
  }

  .block1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 8%;
    height: 100%;
  }

  .gen_block2 h4 a {
    font-size: 20px;
    display: flex;
    padding-inline: 20px;
    margin-left: 10%;
  }

  .gen_block3 {
    width: 100%;
    display: flex;
    flex-direction: column;


  }

  .gen_block3 img {
    width: 100%;
    text-align: center;
    height: 100%;
  }

  .block_1 {
    font-size: 20px;
  }

  .general h1 {
    font-size: 40px;
  }

  .book input {
    width: 100%;
  }

  .food_prise img {
    width: 100%;
  }

  .footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .social_img {
    display: flex;

  }

  .sale {
    width: 100%
  }

  .brackfast {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
i{
  margin-right: 5px;

}
}

.ant-section__ant074_testimonials {
  background: #fafbfc;
  padding: 50px 0 50px 0;
  border-bottom: 1px solid #efefef;
  border-top: 1px solid #efefef;
}

.ant074_testimonials-testim-inner {
  margin-top: 40px;
  position: relative;
  text-align: center;
  padding: 0 25px 25px 25px;
  border: 1px solid #ebebeb;
  background-color: #fff;
  border-radius: 7px 7px;
  border-bottom: 2px solid #e0e0e0;
  box-shadow: rgba(33, 33, 33, .055) 0 4px 24px 5px;
  transition: all 1s;
}

.ant074_testimonials-testim-inner:hover {
  border-bottom: 2px solid #1089ff;
  transition: all 1s;
}

.ant074_testimonials-testim-inner img {
  position: relative;
  display: inline-block;
  margin-top: -55px;
  max-width: 110px;
  border: 1px solid #efefef;
  border-radius: 50% 50%;
  padding: 5px 5px;
  background-color: #fff;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
}

.ant074_testimonials-testim-inner h6 {
  margin-bottom: 5px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  color: #1089ff;
}

.ant074_testimonials-testim-inner p {
  font-size: 17px;
  line-height: 28px;
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 5px;
}

.ant074_testimonials-testim-rating i {
  color: #fdcc28;
}

@media (max-width: 768px) {
  .ant074_testimonials-testim-inner {
      margin-top: 90px;
  }

  .ant074_testimonials-testim-inner.ant074_testimonials-first {
      margin-top: 37px;
  }
}